<p style="color: green"><%= notice %></p>

<h1>Emails</h1>

<%= turbo_frame_tag 'new_email' do %>
  <%= render 'form', email: @email %>
<% end %>

<div class="row">
  <div class="col-6">
    <%= render @emails %>
  </div>
  <div class="col-6">
    <%= turbo_frame_tag 'email' do %>
      <!-- L'email sera affiché ici -->
    <% end %>
  </div>